img {
    height: 75px;
    width: 75px;
}

body {
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-line-height: 1.4;
   
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

article p {
    text-align: center;
}


article button {
    align-items: center;
}

button:hover {
    background-color: red;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

form button {
    justify-self: center;
    align-self: center;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
}


.item {
   display: grid;
   grid-row: 2;
   grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
}



#main article {
    grid-column: 2;
}

#main img {
    align-self: center;
    justify-self: center;
}

 {
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
}