img {
    height: 75px;
    width: 75px;
}

body {
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-line-height: 1.4;
    color: purple;
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

article p {
    text-align: center;
}

a {
    border: 1px solid red;
    border-radius: 5px;
}

article button {
    align-items: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

form button {
    justify-self: center;
    align-self: center;
}

.container {
    /* display: flex; */
    

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
}



.item {
   display: grid;
   grid-row: 2;
   grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
}



#main article {
    grid-column: 2;
}

#main img {
    align-self: center;
    justify-self: center;
}